<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2017 Christian W. Damus and others.

All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Christian W. Damus - initial API and implementation
-->

<plugin>
   <extension-point id="facadeProvider" name="EMF Compare Façade Providers" schema="schema/facadeProvider.exsd"/>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.compare.facade.internal.expressions.FacadePropertyTester"
            id="org.eclipse.emf.compare.facade.facadePropertyTester"
            namespace="org.eclipse.emf.compare.facade"
            properties="isFacade"
            type="org.eclipse.emf.ecore.EObject">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.emf.compare.rcp.matchEngine">
      <engineFactory
            class="org.eclipse.emf.compare.facade.internal.match.FacadeMatchEngine$RCPFactory"
            label="Façade Match Engine"
            description="A match engine that matches façades wrapping the underlying models being compared."
            ranking="50">
      </engineFactory>
   </extension>
   
   <extension
         point="org.eclipse.emf.compare.rcp.copier">
      <copier
            class="org.eclipse.emf.compare.facade.internal.merge.FacadeCopier"
            ranking="1"
            label="Façade copier"
            description="Copies the XMI IDs of the model elements underlying a façade object that was copied by a merge operation.">
         <enablement>
            <test
                  property="org.eclipse.emf.compare.facade.isFacade">
            </test>
         </enablement>
      </copier>
   </extension>
   
   <extension
         point="org.eclipse.emf.compare.rcp.postProcessor">
      <processor
            class="org.eclipse.emf.compare.facade.internal.post.FacadePostProcessor"
            description="Post-processor for generic façade model dependencies (nothing domain-specific)."
            label="Generic Façade Post-processor"
            ordinal="20">
         <nsURI
               value=".+"> <!-- This is applicable to any model. -->
         </nsURI>
      </processor>
   </extension>
</plugin>
